/*

# Base

- Here it's the last layer that we willl see selectors directly in tags.
- Here we will leave styles for headings (h1-h6), blockquotes, a, buttons, etc.
- just BASIC styles.

*/

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

a {}
p {}
li {}
li a {}
ul li {}
ol li {}

blockquote {}
