/*

# Settings:

- This are basic configs of your architecture. Are the global variables that define colors, spaces, paddings, and another required settings
to the framework.
- Here we don't have CSS that will compile, just the definitions for other files that will do it

*/

$color-ui = #BADA55
$spacing-unit = 10px
