/*

# Trumps

- Basically the helpers, they can have !important but ever need to have an dash before the name Example: `.-clearfix`

*/

._clearfix
  &:before,
  &:after
    content: ""
    display: table

  &:after
    clear: both

._img-responsive
  display block
  min-width 100%
  height auto
